body {
  background-color: blue;
  font-family: monospace;
}

h1 {
  font-weight: bold;
}

p{
    margin:60px;
    padding:10px;
    color: black;
    border: 5px solid yellow;
    font-weight: bold;
    background-color: blue;
}

ul{
    font-style: italic;
}

li{
  color: white;
}

table, th, td{
    border: 2px solid black;
    font-family: monospace;
    margin: auto;
}

.coolPeople{
    font-family: "Helvetica", "Times New Roman", Times, serif;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.tableTitles{
    background-color: #77a9ef;
}

div{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}
